<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Wed Feb 12 2014 03:00:05 GMT+0000 (UTC) -->
<html data-wf-site="52f00e27a8b031ee5c000058">
<head>
  <meta charset="utf-8">
  <title>Item Detail</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/webflow.css">
  <link rel="stylesheet" type="text/css" href="/css/thrifty.webflow.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script type="text/javascript" src="/js/cookies.js"></script>

  <script>
    WebFont.load({
      google: {
        families: ["Montserrat:400,700","Bitter:400,700"]
      }
    });
  </script>
  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs5shiv/3.75shiv.min.js"></script><![endif]-->
  <link rel="apple-touch-icon" href="https://y7v4p6k4.ssl.hwcdn.net/51d1bb05fc804b2621000001/51e06f0756878bb26a000008_webclip-slate.png">
</head>
<body class="w-clearfix">
  <div class="w-nav" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1">
    <div class="w-container navedited">
      <a class="w-nav-brand navedited" href="#"></a>
      <nav class="w-nav-menu navedited" role="navigation"><a class="w-nav-link navedited" href="../">Home</a><a class="w-nav-link navedited" href="../browse">Browse</a><a class="w-nav-link navedited" href="../findus">Find Us</a><a class="w-nav-link navedited" href="../calendar">Calendar</a>
      <a class="w-nav-link navedited" href="wishlist">My Wishlist</a>

        <a class="w-nav-link navedited"
        href="help">FAQ</a>

        <script>
        if(getCookie("username") != "")
           document.write("<a class=\"w-nav-link navedited\" href=\"\/\" onclick=\"logout();\">Logout</a>");
        </script>
      <div class="w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
  <h1 id="itemName">{{itemName}}</h1>
  <div class="w-nav" data-collapse="medium" data-animation="default" data-duration="400"></div>
  <div class="w-nav" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1"></div>
  <img class="imageblock" id="imageURL" src={{imageURL}} width="205" alt="image">
  <div>
      <h3 style="text-align: center; text-decoration:underline;" id="newItemWishlist">Add to Wish List</h3>
</div>


  <div>
  <h4>Information</h4>
  <p id="itemPrice">Price: {{price}}</p>
    <p id="itemSize">Size: {{size}}</p>
    <p id="itemCondition">Condition: {{condition}}</p>
    <p id="itemColor">Color: {{color}}</p>
  <div class="w-form">
    <form name="email-form" data-name="Email Form" method="post" data-redirect="../response">
      <label style="text-align:center;"class="formlabel" for="name">Have questions? Ask us here!</label>
      <input class="w-input" type="text" placeholder="Write your question here!" name="name" data-name="Name"></input>
      <center><input style="background-color: #93c0bd;"class="w-button button submitbutton" type="submit" value="Submit" data-wait="Loading"></center></input>
    </form>
    <div class="w-form-done">
      <p>Thank you for your submission!</p>
    </div>
    <div class="w-form-fail">
      <p>Something went wrong while submitting the form :(</p>
    </div>
  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="/js/webflow.js"></script>
  <script src="/js/introHCI.js"></script>

</body>
</html>
